@import '../../style/sass/variable';
@import '../../style/sass/mixin/flexbox';
@import '../../style/sass/mixin/boxshadow';
@import '../../style/sass/mixin/lineargradient';


$border-radius : 20px;

.authBg {
  background-image: url("../../images/pattern.png");
  background-repeat: repeat;
  height: 100%;
}

.authentication {
  height: 77%;
  margin: 0 auto;
  background: $color-white;
  width: 92%;
  @include flexbox();
  @include flex-direction(column);
  @include box-shadow(0, 0, 2px, 2px, rgba(0, 0, 0, 0.05));
  border-radius: $border-radius;
  &__page {
    padding-top: 20px;
  }
  &__shadow1 {
    width: 77%;
    background: $color-black;
    opacity: 0.1;
    height: 23px;
    border-radius: $border-radius $border-radius 0 0;
    margin: 0 auto;
    position: relative;
  }

  &__shadow2 {
    width: 82%;
    opacity: 0.15;
    height: 13px;
    position: relative;
    background: $color-black;
    margin: 0 auto;
  }

  .rainbow {
    height: 18px;
    @include gradient(to right, $rainbow-list);
    border-radius: $border-radius $border-radius 0 0;
  }

  .header {
    @include flexbox();
    @include flex-direction(row);
    height: 92px;
    align-items: center;
    justify-content: space-around;
    &__login {
      &-true {
        border-top: none;
        border-bottom: 5px solid #E81D46;
        outline: none;        
      }
    }
    &__box {
      padding: 20px 0;

      &:focus,
      &:active {
        border-top: none;
        border-bottom: 5px solid #E81D46;
        outline: none;
      }
    }
  }

}
