@import '../../style/sass/variable';

$height: 60px;

.navWrapper {
  height: $height;
  position: fixed;
  z-index: 5;
  margin-bottom: $height;
  

  .navButtonsWrapper {
    min-width: 60px;
    flex-shrink: 0;
  }
  .navButtons {
    width: 60px;
  }
}

.hasBackground {
  border-bottom: 1px solid $color-border-input;
  background-image: url(../../images/pattern.png);
  background-repeat: repeat;
  background-size: cover;
  background-position: center;
}

.heightFix {
  height: $height;
  width: 100%
}

.fixBg {
  background-color: #fff;
  border-bottom: 1px solid $color-border-input;
}