@import '../../../style/sass/variable';

.order{
    .order-box{
        height: auto;
        width: 350px;
        // background: #FFFFFF;
        box-shadow: 0 5px 14px 0 rgba(0, 0, 0, 0.1);
        margin-top: 10px;
        margin-right: 12px;
        margin-left: 15px;
        border-radius: 14px;
        .order-box__main{
            .order-box__icon{
                // padding-top: 6px;
                // padding-right: 6px;
                .order-box__img{
                    width: 85px;
                    height: 85px;
                    border-radius: 10px;
                }
            }
            .order-box__bord{
                width: 82px;
                border-top: 68px solid red;
                border-right: 68px solid transparent;
               
                border-top-left-radius: 14px;
                display: none;
                } 
            .order-box__detail{
                // padding-top: 10px;
                padding-right: 8px;
                width: 100%;
                font-size: 14px;
                .order-box__title{
                    color: #434343;
                    font-weight: bold;;
                }
                .chili-star{
                    color: #1CBD2F;
                    float: left;
                    font-size: 22px;
                }
                .order-detail{
                    color: #929292;
                    padding-top: 6px;
                    .order-box__date{
                        padding-right: 10px;
                        padding-left: 10px;
                        // &:after{
                        //     content: "";
                        //     height: 5px;
                        //     width: 5px;
                        //     border-radius: 50px;
                        //     background-color: #F2C930;
                        //     position: absolute;
                            
                        // }
                        // &:before{
                        //     content: "";
                        //     height: 5px;
                        //     width: 5px;
                        //     border-radius: 50px;
                        //     background-color: #F2C930;
                        //     position: absolute;
                            
                        // }
                    }
                }
                .order-box__btn{
                    width: 110px;
                    height: 34px;
                    font-size: 12px;
                    font-weight: bold;
                    padding: 0;
                    background: #1CBD2F;
                    border-color: #1CBD2F;
                    margin-right: 18px;
                    
                }
            }
            .order-box__dmain{
                border-top: 1px solid #E4E4E4;
                color: #888787;
                text-align: left;
                
                .order-dmain__text{
                    color: #888787;
                    text-align: left;
                    text-decoration: none;
                    padding: 0;
                    font-size: 14px;
                }
            }
        }
    }
}