@import '../../../style/sass/variable';

.order{
    .order-box{
        height: auto;
        // background: #FFFFFF;
        box-shadow: 0 5px 14px 0 rgba(0, 0, 0, 0.1);
        margin-top: 10px;
        margin-right: 12px;
        margin-left: 15px;
        border-radius: 14px;
        overflow: hidden;
        .order-box__main{
            overflow: hidden;
            .order-box__icon{
                // padding-top: 6px;
                // padding-right: 6px;
                .order-box__img{
                    width: 85px;
                    height: 85px;
                    border-radius: 10px;
                }
            }
            .order-box__bord{
                width: 80px;
                height: 100px;
                background-color: $color-success;
                position: absolute;
                left: 10px;
                top: -60px;
                display: flex;
                align-items: center;
                font-size: 12px;
                align-self: center;
                text-align: center;
                transform-origin: 0 0;
                transform: rotate(45deg);
                span{
                    transform-origin: 29px 13px;
                    transform: rotate(-90deg);
                    font-size: 10px;
                    font-weight: bold;
                    width: 50px;
                    color: #fff;
                }
                // border-top: 68px solid $color-success;
                // border-right: 68px solid transparent;
                // border-top-left-radius: 14px;
                // position: relative;
                // display: none;
                } 
            .order-box__detail{
                // padding-top: 10px;
                padding-right: 8px;
                width: 100%;
                font-size: 14px;
                .order__detail-main{
                    display: flex;
                    .order-box__title{
                        color: $color-primary;
                        font-weight: bold;;
                    }
                    .icon{
                        color: $grey-8;
                        margin-right: auto;
                        font-size: 22px;
                    }
                }
                .order-detail{
                    color: $grey-6;
                    padding-top: 6px;
                    position: relative;
                    .order-box__date{
                        padding-left: 12px;
                        &:after{
                            content: "";
                            height: 5px;
                            width: 5px;
                            border-radius: 50px;
                            background-color: $color-warning;
                            position: absolute;
                            top: 14px;
                            right: 50px;
                            
                        }
                        
                    }
                    .order-box__time{
                        padding-left: 12px;
                        padding-right: 4px;
                        &:after{
                            content: "";
                            height: 5px;
                            width: 5px;
                            border-radius: 50px;
                            background-color: $color-warning;
                            position: absolute;
                            top: 14px;
                            right: 98px;
                        }
                        
                    }
                }
                .order-box__btn{
                    width: 110px;
                    height: 34px;
                    font-size: 12px;
                    font-weight: bold;
                    padding: 0;
                    background: $color-success;
                    border-color: $color-success;
                    margin-right: 18px;
                    
                }
            }
            .order-box__dmain{
                border-top: 1px solid $color-disable;
                text-align: left;
                color: $color-primary;
                .order-dmain__ready{
                    font-size: 12px;
                }
                .icon{
                    margin-right: auto;
                    color: $grey-6;
                }
                .order-dmain__text{
                    color: $color-primary;
                    text-align: left;
                    text-decoration: none;
                    padding: 0 4px 0 0;
                    font-size: 12px;
                }
            }
            .order-dmain{
                border-top: 1px solid $grey-4;
            }
        }
        .order-box__dmain-time{
            padding: 0 10px 10px;
            text-align: center;
            .order-box__time{
                border-radius: 30px;
                border: 2px dashed $color-success;
                padding: 8px;
                font-size: 12px;
                .order-dmain__text{
                    color: $grey-6;
                }
            }
        }
    }
}