@import '../../style/sass/variable';

.stepper {
  button {
    border: 1px solid $color-border-2;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    height: 25px;
    width: 25px;
  }
  &__count {
    color: $grey-9;
    font-weight: bold;

    h2 {
      min-width: 30px;
    }
  }
  &__add {
    &:active,&:focus {
      outline: none;
    }
    span {
      color: $color-success;
      font-weight: bold;
      vertical-align: middle;
      font-size: 12px;
      padding-top: 1px;
    }
  }
  &__remove {
    &:active,&:focus {
      outline: none;
    }
    span {
      color: $color-danger;
      font-weight: bold;
      vertical-align: middle;
      font-size: 12px;
      padding-top: 3px;
    }
  }
}
