.white { color: #fff };
.bgWhite { background-color: #fff };
.black { color: #000 };
.bgBlack { background-color: #000 };
.green { color: $color-success };
.bgGreen { background-color: $color-success };
.red { color: $color-danger };
.bgRed { background-color: $color-danger };
.blue { color: $color-info };
.bgBlue { background-color: $color-info };

.primary { color: $color-primary };
.primaryBg { background-color: $color-primary };
.secondary { color: $color-secondary };
.secondaryBg { background-color: $color-secondary };
.success { color: $color-success };
.successBg { background-color: $color-success };
.tag { color: $color-tag };
.tagBg { background-color: $color-tag };
.info { color: $color-info };
.infoBg { background-color: $color-info };
.danger { color: $color-danger };
.dangerBg { background-color: $color-danger };
.warning { color: $color-secondary };
.warningBg { background-color: $color-secondary }
.yellow { color: $color-warning };
.yellowBg { background-color: $color-yellow };
.disable { color: $color-disable };
.disableBg { background-color: $color-disable };
.light { color: $color-light };
.lightBg { background-color: $color-light };
.gray { color: $color-text-icon };

.gray1 { color: $grey-1 };
.gray1Bg { background-color: $grey-1 };
.gray2 { color: $grey-2 };
.gray2Bg { background-color: $grey-2 };
.gray3 { color: $grey-3 };
.gray3Bg { background-color: $grey-3 };
.gray4 { color: $grey-4 };
.gray4Bg { background-color: $grey-4 };
.gray5 { color: $grey-5 };
.gray5Bg { background-color: $grey-5 };
.gray6 { color: $grey-6 };
.gray6Bg { background-color: $grey-6 };
.gray7 { color: $grey-7 };
.gray7Bg { background-color: $grey-7 };
.gray8 { color: $grey-8 };
.gray8Bg { background-color: $grey-8 };
.gray9 { color: $grey-9 };
.gray9Bg { background-color: $grey-9 };
.gray10 { color: $grey-10 };
.gray10Bg { background-color: $grey-10 };

.purple5 { color: $purple-5 };
.purple5Bg { background-color: $purple-5 };



.debug { background-color: #f9d7e1 };
.d { background-color: #C8CA2633 };
.f { background-color: #ff00aa33 };

.reset {
  box-sizing: border-box; 
  margin:0; 
  padding: 0;
  border: none; 
  list-style: none;
	text-decoration: none;
}

.wFull { width: 100% };
.hFull { height: 100% };
.whFull { width: 100%; height: 100% };
.stretchChild { align-items: stretch };
.fa { font-family: $font-family-iransans };
.bold { font-weight: bold };
.largeText { font-size: 16px };
.bigText { font-size: 14px };
.midText { font-size: 11px };
.tinyText { font-size: 8px };
.text8 { font-size: 8px };
.text10 { font-size: 10px };
.text12 { font-size: 12px };
.text14 { font-size: 14px };
.text16 { font-size: 16px };
.text18 { font-size: 18px };
.text20 { font-size: 20px };
.text22 { font-size: 22px };
.text25 { font-size: 25px };
.text28 { font-size: 28px };
.text30 { font-size: 30px };
.text40 { font-size: 40px };
.text50 { font-size: 50px };
.overLine { text-decoration: line-through };
.underLine { text-decoration: underline };
.rightText { text-align: right };
.leftText { text-align: left };
.centerText { text-align: center };
.rtl { direction: rtl }; 
.ltr { direction: ltr };
.flex { display: flex };
.dblock { display: block };
.dInlineBlock { display: inline-block };
.rRow { flex-direction: row };
.rRowReverse { flex-direction: row-reverse };
.rCol { flex-direction: column };
.center { display: flex; justify-content: center; align-items: center };
.vCenter { display: flex; justify-content: center };
.hCenter { display: flex; align-items: center };
.hInherit { height: inherit };
.column { display: flex; flex-direction: column };
.rightContent { display: flex; justify-content: flex-start };
.leftContent { display: flex; justify-content: flex-end };
.selfCenter { align-self: center };
.spaceAround { justify-content: space-around };
.spaceBetween { justify-content: space-between };
.rightItems { align-items: flex-end };
.leftItems { align-items: flex-start };
.line { height: 1; background-color: #adb9c7 };
.overhide { overflow: hidden };
.scroll { overflow: scroll};
.rotate90 { transform: { rotate: 90deg } };
.flipX { transform: { scaleX: -1 } };
.round3 { border-radius: 3px };
.round5 { border-radius: 5px };
.round7 { border-radius: 7px };
.round10 { border-radius: 10px };
.round15 { border-radius: 15px };
.round20 { border-radius: 20px };
.round30 { border-radius: 30px };
.round50 { border-radius: 50% };
.zIndex0 { z-index: 0 };
.zIndex1 { z-index: 1 };
.zIndex2 { z-index: 2 };
.zIndex3 { z-index: 3 };
.zIndex4 { z-index: 4 };
.zIndex5 { z-index: 5 };
.zIndex10 { z-index: 10 };
.i2 { width: 50% };
.i3 { width: 33.3333% };
.i4 { width: 25% };
.i5 { width: 20% };
.i6 { width: 16.666666% };
.i2-3 { width: 66.666667% };
.w98 { width: 98% };
.w95 { width: 95% };
.w90 { width: 90% };
.w85 { width: 85% };
.w80 { width: 80% };
.w75 { width: 75% };
.w70 { width: 70% };
.w60 { width: 60% };
.w50 { width: 50% };
.absolute { position: absolute };
.relative { position: relative };
.top { top: 0 };
.left { left: 0 };
.bottom { bottom: 0 };
.right { right: 0 };
.cover { background-size: cover };
.contain { background-size: contain };
.centerBg { background-position: center };

.padd0 { padding: 0px };
.padd2 { padding: 2px };
.padd3 { padding: 3px };
.padd5 { padding: 5px };
.padd7 { padding: 7px };
.padd10 { padding: 10px };
.padd15 { padding: 15px };
.padd20 { padding: 20px };
.padd30 { padding: 30px };
.padd40 { padding: 40px };
.margin0 { margin: 0px };
.margin2 { margin: 2px };
.margin3 { margin: 3px };
.margin5 { margin: 5px };
.margin7 { margin: 7px };
.margin10 { margin: 10px };
.margin15 { margin: 15px };
.margin20 { margin: 20px };
.margin30 { margin: 30px };
.margin40 { margin: 40px };
.rightP { padding-right: 0 };
.rightP3 { padding-right: 3px };
.rightP5 { padding-right: 5px };
.rightP10 { padding-right: 10px };
.rightP15 { padding-right: 15px };
.rightP20 { padding-right: 20px };
.rightP30 { padding-right: 30px };
.rightP40 { padding-right: 40px };
.leftP { padding-left: 0 };
.leftP3 { padding-left: 3px };
.leftP5 { padding-left: 5px };
.leftP10 { padding-left: 10px };
.leftP15 { padding-left: 15px };
.leftP20 { padding-left: 20px };
.leftP30 { padding-left: 30px };
.leftP40 { padding-left: 40px };
.rightMauto { margin-right: auto };
.rightM2 { margin-right: 2px };
.rightM3 { margin-right: 3px };
.rightM5 { margin-right: 5px };
.rightM10 { margin-right: 10px };
.rightM15 { margin-right: 15px };
.rightM20 { margin-right: 20px };
.rightM30 { margin-right: 30px };
.rightM40 { margin-right: 40px };
.leftMauto { margin-left: auto };
.leftM2 { margin-left: 2px };
.leftM3 { margin-left: 3px };
.leftM5 { margin-left: 5px };
.leftM10 { margin-left: 10px };
.leftM15 { margin-left: 15px };
.leftM20 { margin-left: 20px };
.leftM30 { margin-left: 30px };
.leftM40 { margin-left: 40px };
.topP2 { padding-top: 2px };
.topP3 { padding-top: 3px };
.topP5 { padding-top: 5px };
.topP10 { padding-top: 10px };
.topP15 { padding-top: 15px };
.topP20 { padding-top: 20px };
.topP25 { padding-top: 25px };
.topP30 { padding-top: 30px };
.topP40 { padding-top: 40px };
.topM3 { margin-top: 3px };
.topM5 { margin-top: 5px };
.topM8 { margin-top: 8px };
.topM10 { margin-top: 10px };
.topM15 { margin-top: 15px };
.topM20 { margin-top: 20px };
.topM30 { margin-top: 30px };
.topM40 { margin-top: 40px };
.topM50 { margin-top: 50px };
.topM60 { margin-top: 60px };
.topM70 { margin-top: 70px };
.topM80 { margin-top: 80px };
.topM90 { margin-top: 90px };
.topM100 { margin-top: 100px };
.bottomP { padding-bottom: 0 };
.bottomP3 { padding-bottom: 3px };
.bottomP5 { padding-bottom: 5px };
.bottomP10 { padding-bottom: 10px };
.bottomP15 { padding-bottom: 15px };
.bottomP20 { padding-bottom: 20px };
.bottomP30 { padding-bottom: 30px };
.bottomP40 { padding-bottom: 40px };
.bottomP50 { padding-bottom: 50px };
.bottomP60 { padding-bottom: 60px };
.bottomM { margin-bottom: 0 };
.bottomM3 { margin-bottom: 3px };
.bottomM5 { margin-bottom: 5px };
.bottomM10 { margin-bottom: 10px };
.bottomM20 { margin-bottom: 20px };
.bottomM30 { margin-bottom: 30px };
.bottomM40 { margin-bottom: 40px };
.bottomM50 { margin-bottom: 50px };
.bottomM70 { margin-bottom: 70px };

.vM3 { margin-top: 3px; margin-bottom: 3px };
.vM5 { margin-top: 5px; margin-bottom: 5px };
.vM7 { margin-top: 7px; margin-bottom: 7px };
.vM10 { margin-top: 10px; margin-bottom: 10px };
.vM20 { margin-top: 20px; margin-bottom: 20px };
.vM30 { margin-top: 30px; margin-bottom: 30px };
.vM40 { margin-top: 40px; margin-bottom: 40px };
.vM50 { margin-top: 50px; margin-bottom: 50px };
.vM70 { margin-top: 70px; margin-bottom: 70px };
.hM3 { margin-right: 3px; margin-left: 3px };
.hM5 { margin-right: 5px; margin-left: 5px };
.hM10 { margin-right: 10px; margin-left: 10px };
.hM20 { margin-right: 20px; margin-left: 20px };
.hM30 { margin-right: 30px; margin-left: 30px };
.hM40 { margin-right: 40px; margin-left: 40px };
.hM50 { margin-right: 50px; margin-left: 50px };
.hM70 { margin-right: 70px; margin-left: 70px };

.vP3 { padding-top: 3px; padding-bottom: 3px };
.vP5 { padding-top: 5px; padding-bottom: 5px };
.vP7 { padding-top: 7px; padding-bottom: 7px };
.vP10 { padding-top: 10px; padding-bottom: 10px };
.vP20 { padding-top: 20px; padding-bottom: 20px };
.vP30 { padding-top: 30px; padding-bottom: 30px };
.vP40 { padding-top: 40px; padding-bottom: 40px };
.vP50 { padding-top: 50px; padding-bottom: 50px };
.vP70 { padding-top: 70px; padding-bottom: 70px };
.hP3 { padding-right: 3px; padding-left: 3px };
.hP5 { padding-right: 5px; padding-left: 5px };
.hP10 { padding-right: 10px; padding-left: 10px };
.hP20 { padding-right: 20px; padding-left: 20px };
.hP30 { padding-right: 30px; padding-left: 30px };
.hP40 { padding-right: 40px; padding-left: 40px };
.hP50 { padding-right: 50px; padding-left: 50px };
.hP70 { padding-right: 70px; padding-left: 70px };

.boxShadow1{
  box-shadow: 0px 3px 10px rgba(0,0,0,0.1);
}