$color-primary: #434343;
$color-secondary: #f79e40;
$color-success: #1CBD2F;
$color-tag: #21974E;
$color-toggle: #4ad964;
$color-danger: #e1373c;
$color-warning: $color-secondary;
$color-info: #039be5;
$color-black: #000000;
$color-white: #fff;
$color-disable: #e4e4e4;
$color-light: #f5f5f5;
$color-yellow: #FFD500;
$color-org:#414367;

$grey-1: #fafafa;
$grey-2: #f5f5f5;
$grey-3: #eeeeee;
$grey-4: #D9D9D9;
$grey-5: #bdbdbd;
$grey-6: #929292;
$grey-7: #818181;
$grey-8: #616161;
$grey-9: #424242;
$grey-10: #212121;
$grey-11: #efefef;
$grey-12: #d6d6d6;
$grey-13: #eaeaea;
$grey-14: #c8c8c8;
$grey-15: #444444;

$red-1: #ffebee;
$red-2: #ffcdd2;
$red-3: #ef9a9a;
$red-4: #e57373;
$red-5: #ef5350;
$red-6: #f44336;
$red-7: #e53935;
$red-8: #d32f2f;
$red-9: #c62828;
$red-10: #b71c1c;
$red-11: #E41D36;

$purple-5: #b55cc6;

$orange-1: #fff3e0;
$orange-2: #ffe0b2;
$orange-3: #ffcc80;
$orange-4: #ffb74d;
$orange-5: #ffa726;
$orange-6: #ff9800;
$orange-7: #fb8c00;
$orange-8: #f57c00;
$orange-9: #ef6c00;
$orange-10: #e65100;
$orange-11 : #FCB24A;


$rainbow-list : #C30029 17%,
#009855 17% 34%,
#A19E3E 34% 51%,
#FF9A50 51% 68%,
#F95743 68% 85%,
#FF0021 85%;

// Rate colors
$color_rate-1: #e66230;
$color-rate-2: #e69717;
$color-rate-3: #cec20c;
$color-rate-4: #97c21e;
$color-rate-5: #4fc238;


$color-border-input:#b9b9b9;
$color-border-2: #d9d9d9;

$color-text-black: $color-black;
$color-text-input: $color-primary;
$color-text-icon: #929292;

$font-family-iransans: IRANSans;

$--breakpoint-xxs: 420px;
$--breakpoint-xs: 480px;
$--breakpoint-sm: 576px;
$--breakpoint-md: 768px;
$--breakpoint-lg: 992px;
$--breakpoint-xl: 1200px;
$--breakpoint-xxl: 1366px;


$--font-family-sans-serif: $font-family-iransans;
$--font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;


$border-radius : 42.5px !important;