@import '../../style/sass/variable';

.afterpayment {
  height: 100%;
  background-color: $grey-2;
  &__header {
    height: 200px;
    position: relative;
    background-size: cover;
    background-position: center;
    background-image: url("../../images/afterpayment-bg.jpg");
    margin-bottom: 55px;
    &__status {
      position: absolute;
      left: 0;
      right: 0;
      bottom: -35px;
      margin: 0 auto;
      width: 170px;
      height: 170px;
      background-image: url("../../images/afterpayment-circle.png");
      background-size: 100%;
      &-img {
        width: 125px;
        height: 125px;
        background-size: contain;
        background-position: center;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
      }
      &-profile {
        width: 60px;
        height: 60px;
        border-radius: 10px;
        background-size: contain;
        background-position: center;
        position: absolute;
        left: 0;
        right: 0;
        bottom: -25px;
        margin: 0 auto;
      }
    }
  }
  &__body{
    padding-top: 30px;
    text-align: center;
    &-status {
      span {
        color: $grey-6;
        font-size: 13px;
      }
      p {
        margin-top: 10px;
        color: $grey-9;
        font-weight: bold;
        font-size: 14px;
      }
    }
    &-action {
      .btn {
        width: 160px;
        font-size: 13px;
        padding: 0;
        margin: 10px 5px 30px;
      }
    }
    &__map {
      height: 300px;
      margin: 0 10px 20px;

      &-box {
        overflow: hidden;
        height: 100%;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px;
      }
    }
  }
  &__details {
    &__box {
      padding: 5px 10px;
      border-left: 1px solid $grey-4;
      width: 25%;
      &:last-child {
        border-left: none;
      }
      &-icon {
        color: $grey-4;
        font-size: 24px;
        text-align: center;
      }
      &-title {
        font-size: 12px;
        text-align: center;
        display: block;
        margin-bottom: 5px;
      }
      &-body {
        font-size: 12px;
        font-weight: bold;
        text-align: center;
        margin-bottom: 5px;
      }
    }
  }
  &__factor {
    ul {
      border-top: 2px solid $grey-5;
      li {
        border-bottom: 1px solid $grey-5;
        padding: 15px 0;
        list-style: none;
        font-size: 13px;
        color: $grey-8;
        &:last-child {
          border-bottom: none;
        }
        .total {
          font-size: 14px;
          color: $grey-9;
        }
        .discount-code {
          color: $purple-5;
          span {
            color: $grey-7;
          }
        }
      }
    }
  }
}
