@import '../../style/sass/variable';

.afterpayment {
  &__header {
    &-img {
      width: 56px;
      height: 56px;
      background-size: cover;
      border-radius: 6px;
      float: right;
    }
    span {
      color: $grey-6;
      font-size: 11px;
      margin: 10px 0 7px;
      display: inline-block;
    }
    p {
      color: $grey-9;
      font-size: 12px;
      font-weight: bold;
    }
  }
  &__details {
    &__box {
      padding: 5px 10px;
      border-left: 1px solid $grey-4;
      &:last-child {
        border-left: none;
      }
      &-icon {
        color: $grey-4;
        font-size: 24px;
        text-align: center;
      }
      &-title {
        font-size: 12px;
        text-align: center;
        display: block;
        margin-bottom: 5px;
      }
      &-body {
        font-size: 12px;
        font-weight: bold;
        text-align: center;
        margin-bottom: 5px;
      }
    }
  }
  &__factor {
    ul {
      border-top: 2px solid $grey-5;
      li {
        border-bottom: 1px solid $grey-5;
        padding: 15px 0;
        list-style: none;
        font-size: 13px;
        color: $grey-8;
        &:last-child {
          border-bottom: none;
        }
        .total {
          font-size: 14px;
          color: $grey-9;
        }
        .discount-code {
          color: $purple-5;
          span {
            color: $grey-7;
          }
        }
      }
    }
  }
}
