@import '../../style/sass/variable';

.stickyMenu {
  height: 40px;
  border-bottom: 1px solid #ddd;
  background-color: #e3e3e7;
}

.modal-restaurant__detail {
  &-body {
    height: calc(80vh - 90px);
  }
  &-head {
    height: 220px;

    ul {
      height: 50px;
      li {
        width: 50px;
      }
    }
  }
  &-content {
    h3 {
      line-height: 27px;
    }

    .reviews {
      width: 130px;
      margin-top: -2px;

      div {
        height: 22px;
      }
    }
  }

  &-footer {
    height: 90px;
    border-top: 1px solid $grey-4;
  }
}

.modal-restaurant__detail-sideDishes {
  
}

.restaurant-detail{
  font-size: 14px;
  .icon{
    color: $orange-7;
  }
  &__more-restaurant{
    border:2px dashed $color-success;
  }
  &__time{
    &-item{
      &:first-child{
        padding-right: 0;
        &:before{
          display: none
        }
      }
    }
  }
  &__item-box{
    margin-bottom: 0 !important;
  }
  .owl-theme .owl-nav button {
    position: absolute;
    top: 38%;
    width: 40px;
    height: 40px;
    z-index: 2;
    color: #fff !important;
    background: rgba(0,0,0,0.5) !important;
    border-radius: 50% !important;
    display: block;
    line-height: 40px !important;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2);
    opacity: 0.7 !important;
    outline: none;
    font-size: 40px;
    &.owl-prev{
      right: 0;
    }
    &.owl-next{
      left: 0;
    }
  }
}

.restauran-comment__ratebox{
  max-width: 180px;
}
.restauran-comment__submit{
  border: 1px dashed $color-success
}