@import '../../../style/sass/variable';

.transaction-empty{
    .transaction-empty__icon{
        text-align: center;
        .transaction-empty__img{
            width: 90px;
            height: 90px;
        }
        .transaction-empty__title{
            display: block;
            padding-top: 12px;
            color: $grey-15;
        }
    }
}