@import '../../../style/sass/variable';

.profile-edit{
    margin-bottom: 20px;
    &__icon{
        padding-top: 60px;
        .edit-img{
            width: 80px;
            height: 80px;
        }
    }
    .profile-gender{
        padding-top: 20px;
    }
    .edit-prifile-btn{
        position: absolute;
        top: 80px;
        left: 24px;
        width: 74px;
        height: 34px;
        border-color: $color-primary;
        color: $color-primary;
        font-size: 14px;
    }
    .edit-profile-button{
        text-align: center;
        padding-top: 28px;
        .edit__btn{
            width: 200px;
            height: 50px;
            border-radius: 50px;

        }
    }
}