@import '../../style/sass/_variable.scss';
.UserCacheBalance {
  background-color: #FFFFFF;
  -webkit-box-shadow: 0px 3px 7px 0px rgba(0,0,0,0.1);
  -moz-box-shadow: 0px 3px 7px 0px rgba(0,0,0,0.1);
  box-shadow: 0px 3px 7px 0px rgba(0,0,0,0.1);
  border-radius: 10px;
  display: table;
  width: 100%;
  margin-bottom: 30px;
  position: relative;
  &-checkbox {
    border-left: 1px solid #EEEEEE;
    display: table-cell;
    vertical-align: middle;
    padding: 0 10px 2px 6px;
    text-align: center;
    width: 30px;
  }
  &__details {
    display: table-cell;
    padding: 10px;
    span {
      color: #929292;
      font-size: 12px;
    }
    p {
      margin: 0;
      padding: 4px 0 2px;
      color: #434343;
      font-weight: bold;
    }
  }
  .mask {
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 10px;
    background-color: $grey-7;
    width: 100%;
    height: 100%;
    opacity: 0.3;
  }
}
