@import '../../style/sass/variable';



$input-width: 39px;
$input-container-height: 20px;
$input-height: 18px;
$handle-width: $input-height;
$handle-height: $handle-width;
$primary: $color-toggle;
$secondary: $color-white;
$tertiary: $grey-6;
$border: 1px solid #000;

.filters {
    
    &__boxes {  
            position: relative;
            z-index: 1;
            width: 100%;   
            background-color: $color-white;                        
            -webkit-box-shadow: 0px 3px 7px 0px rgba(0,0,0,0.1);
            -moz-box-shadow: 0px 3px 7px 0px rgba(0,0,0,0.1);
            box-shadow: 0px 3px 7px 0px rgba(0,0,0,0.1);
            border-radius: 15%;            
            &-active {
                background: $orange-11;
                color: $color-white;
                & span {
                    color: $color-white;
                }
            }
            padding: 10px 2px;
            input{
                display: none;
            }
            input[type="radio"]:checked+.box-face{
                position: absolute;
                background: $color-warning;
                left: 0;
                right: 0;
                top: 0;
                bottom: 0;
                z-index: 0;
                + .filters__boxes-wrapper *{
                    color: #fff;
                }
            }
            &-wrapper{
                position: relative;
                z-index: 1;
            }
    }
    &__items-counter{
        border-radius: 50%;
        display: inline-block;
        margin-right: 15px;
        width: 25px;
        height: 25px;
        text-align: center;
        background-color: $grey-6;
        padding-top: 4px;
        color: #fff;
    }
    &__items-wrapper{
        position: relative;
        top: -5px;
    }
    .checkbox label{
        font-size: 14px;

    }
    &__white {
        background: $color-white;
        border: 0 none;
        border-top: 1px solid $grey-12;
        border-bottom: 1px solid $grey-12;
    }
    &__grey {
        color : $color-border-input;
    }
    &__icon {
        font-size: 24px;
        vertical-align: middle;
    }

    &__checkbox {    
        float: left;
        vertical-align: middle;       
        padding-left: 2%; 
        input {
            display: none;
        }
        label {
            position: relative;                
            width: $input-width;
            &::before,
            &::after {
            content: "";
            position: absolute;
            left: 0;
            border-radius: $input-height;
            border: $border;
            transition: all 0.2s ease;
            cursor: pointer;
            }
            &::before {
            width: $input-width;
            height: $input-container-height;
            border: $border;
            background-color: $tertiary;
            border-color: $tertiary;
            }
            &::after {
            content: "";
            width: $handle-width;
            height: $handle-height;
            background: $secondary;
            border: 0;
            top: 1px;
            left: 1px;
            }
        }
        input:checked + label::after {
            left: 50%;
        }
        input:checked + label::before {
            background: $primary;
            border-color: $primary; 
        }
        &::after {
            content: attr(data-label);
            padding-left: 5px;
            padding-top: 3px;
        }
    }
    


    .accordion{
        &__title{
            background: $color-white;
            display: flex;
            text-align: right;
            border-bottom: 1px solid $grey-12;
            position: relative;
            &:after{
                font-family: chilivery;
                content: 'R';
                position: absolute;
                left: 20px;
                color: $color-border-input;
            }
            &:focus  {
                outline: none;
            }
            
            &.accordion_hide:after{
                font-family: chilivery;
                content: 'E';
                position: absolute;
                left: 20px;
                color: $color-border-input;
            }
            
            .icon{
                font-size: 24px;                
            }
        }
        &__ul{
            list-style: none;
        }
        &__body{
            padding: 0;
        }
        &__list{            
            padding: 18px 36px 18px;
            display: flex;
            align-content: center;
            .icon{
                font-size: 24px;
            }
            &-text{
                padding-right: 15px;
                font-size: 14px;
            }
        }
    }    
}




