@import '../../../style/sass/variable';

.fav-restaurant{
    .fav-restaurant__main{
        height: auto;
        box-shadow: 0 5px 14px 0 rgba(0, 0, 0, 0.1);
        margin-top: 10px;
        margin-right: 12px;
        margin-left: 15px;
        border-radius: 14px;
        .fav-box__main{
            .fav-restaurant__img{
                position: relative;
                .fav__img{
                    border-radius: 14px;
                    width: 90px;
                    height: 90px;
                }
                .fav-restaurant__discount{
                    width: 35px;
                    height: 35px;
                    border-radius: 50%;
                    box-shadow: 0 3px 10px #d31d1d77;
                    top: -10px;
                    left: -10px;
                }
            }
            .fav-detail-restaurant{
                padding-right: 20px;
                .fav-restaurant__detail{
                    display: flex;
                    font-size: 14px;
                    .fav-restaurant__title{
                        color: $color-primary;
                        font-weight: bold;;
                    }
                    .icon{
                        color: $red-11;
                        margin-right: auto;
                        font-size: 22px;
                    }
                }
                .fav-restaurant__box{
                    display: flex;
                    .fav-detail{
                        color: #929292;
                        padding-top: 6px;
                        .fav-restaurant__item{
                            position: relative;
                            padding-right: 17px;
                            font-size: 12px;
                            &:after{
                                content: "";
                                height: 5px;
                                width: 5px;
                                border-radius: 50px;
                                background-color: $color-secondary;
                                position: absolute;
                                top: 10px;
                                right: 6px;
                            }
                            &:first-child:after {
                                display: none;
                             }
                            &:first-child {
                                padding-right: 0;
                             }
                            
                        }
                        
                    }
                    .fav-detail__btn{
                        .fav-btn{
                            font-size: 12px;
                            width: 80px;
                            height: 30px;
                        }
                    }
                }
            }
        }
        
    }
}

