@import '../../style/sass/variable';

.header {
  .cover {
    height: 170px;

    .curvature {
      width: 100%;
      height: 40px;
      border-radius: 50% 50% 0 0;
    }
    .avatar {
      width: 90px;
      height: 90px;
      margin-bottom: 15px;

      .discount {
        width: 35px;
        height: 35px;
        border-radius: 50%;
        box-shadow: 0 3px 10px #d31d1d77;
        top: -10px;
        left: -10px;
      }
    }
  }

  .details {
    .rating {
      height: 30px;
      width: 200px;
      border: 1px solid $color-border-input;
    }
    .onOrder {
      .dot {
        width: 13px;
        height: 13px;
        background-color: $color-success;
        border-radius: 50%;
        box-shadow: 0 0 15px #1CBD2Fcc;

      }
    }
  }

}
