@import '../../style/sass/variable';
.AddAddress {
  background-color: #FFFFFF;
  -webkit-box-shadow: 0px 3px 7px 0px rgba(0,0,0,0.1);
  -moz-box-shadow: 0px 3px 7px 0px rgba(0,0,0,0.1);
  box-shadow: 0px 3px 7px 0px rgba(0,0,0,0.1);
  border-radius: 10px;
  display: table;
  width: 109px;
  height: 109px;
  text-align: center;
  span {
    font-weight: bold;
    color: $color-success;
    font-size: 26px;
    display: block;
    margin-top: 34px;
  }
  p {
    color: $color-primary;
    font-size: 15px;
  }
}
.MyAddress {
  background-color: #FFFFFF;
  -webkit-box-shadow: 0px 3px 7px 0px rgba(0,0,0,0.1);
  -moz-box-shadow: 0px 3px 7px 0px rgba(0,0,0,0.1);
  box-shadow: 0px 3px 7px 0px rgba(0,0,0,0.1);
  border-radius: 10px;
  display: table;
  width: 300px;
  &-radio {
    border-left: 1px solid #EEEEEE;
    display: table-cell;
    vertical-align: middle;
    padding: 10px 10px 0 8px;
    text-align: center;
  }
  &__details {
    padding: 10px;
    height: 109px;
    &-action {
      width: 100%;
      display: inline-block;
      a {
        float: left;
        font-size: 19px;
        margin-right: 5px;
        margin-left: 10px;
        color: $grey-9;
      }
    }
    &-address {
      display: block;
      font-size: 13px;
      color: $grey-9;
      padding-bottom: 10px;
      overflow: hidden;
      height: 60px;
    }
    label {
      color: #FFFFFF;
      background-color: $color-tag;
      border-radius: 25px;
      padding: 2px 14px;
      margin-left: 5px;
      font-weight: bold;
      font-size: 14px;
      margin-bottom: 0;
      &.orgBg{
        background-color: $color-org;
      }
    }
  }
}
.owl-carousel.owl-rtl .owl-item {
  padding-bottom: 5px;
}

.address-disable{
  .MyAddress{
    background: #EEEEEE;
  }
  .MyAddress-radio{
    display: none;
  }
  .MyAddress-detail__plus-min {
    width: 110px;
    height: 60px;
    position: absolute;
    right: -45px;
    bottom: 28px;
    display: flex;
    align-items: center;
    font-size: 12px;
    align-self: center;
    text-align: center;
    transform-origin: bottom right;
    transform: rotate(-45deg);
    .icon {
      transform-origin: 34px -10px;
      transform: rotate(0deg);
      font-size: 10px;
      font-weight: bold;
      width: 35px;
      height: 22px;
      color: #fff;
      position: absolute;
      left: 40px;
      right: auto;
      top: 2px;
      &:after{
        content:"خارج از محدوده"

      }
    }
  }
}
