/**
* Make the field a flex-container, reverse the order so label is on top.
*/
.form-group {
  position: relative;
  margin-bottom: 18px;
  label{
    color:$color-primary;
    padding-right:7px;
    margin-bottom: 0;
  }
}
.form-control{
  border-radius: 0;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  background-color: transparent;
  padding-right: 0px;
  textarea{
    border: 0;
    outline: 0;
    width: 100%;
    padding: 0;
  }
}
.form-control:focus{
  background-color: transparent;
  box-shadow: none;
}

.panigale__border_red{
  input,select.form-control{
    border-color:$color-danger !important;
  }
}
.chili-form-shabe{
  position: absolute;
  left: 14px;
  direction: ltr;
  bottom: 3px;
  + input{
    padding-left: 17px;
  }
}
.chili-form-validation{
  color:$color-danger;
  font-size: 12px;
  padding-right: 12px;
  padding-top: 2px;
  position: absolute;
  bottom: -20px;
  left: 10px;
}
.chili-form-flex{
  display: flex;
  align-items: center;
}

.chili-animate-field {
  margin-bottom: 20px;
  display: flex;
  flex-flow: column-reverse;
  position: relative;
  padding-right: 28px;
  label, input {
    transition: all 0.2s;
    touch-action: manipulation;
    font-size: 14px;
  }
  label > span.required-start{
    color: $color-danger;
  }
  input:focus {
    outline: 0;
    border-color: $color-border-input !important;
  }
  input:placeholder-shown + label {
    cursor: text;
    max-width: 66.66%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transform-origin: left bottom;
    transform: translate3d(0, 119%, 0);
  }

  ::-webkit-input-placeholder,::placeholder {
    opacity: 0;
    transition: inherit;
  }
  input:focus::-webkit-input-placeholder,input:focus::placeholder {
    opacity: 1;
  }
  input:not(:placeholder-shown) + label,
  input:focus + label {
    transform: translate(0, 0) scale(1);
    cursor: pointer;
  }
  .chili-password__show{
    position: absolute;
    top: 40px;
    left: 25px;
  }
}

.radio-wrapper {
  height: 40px;
  width: 100%;
  padding: 1px 40px 1px 20px !important;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border: 1px solid $color-border-2;
  border-radius: 20px;
  position: relative;
  background-color: #fff;
  outline: none!important;
  // font-size: 1.2rem;
  margin-bottom: 8px;
  margin-right: 0;
  overflow: hidden;
  cursor: pointer;
}
.radio-wrapper input {
  position: absolute;
  top: -25px;
}
.radio-wrapper .radio-face {
  position: absolute;
  width: 18px;
  height: 18px;
  border: 1px solid $color-border-input;
  // background-color:$color-danger;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  top: 10px;
  right: 10px;
}
.radio-wrapper .radio-face:after {
  position: absolute;
  width: 6px;
  height: 6px;
  content: '';
  background-color: transparent;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  top: 5px;
  right: 5px;
}
.radio-wrapper .label-parent input:checked+.radio-face:after {
  background-color: $color-white;
}
.basket-confirm.basket-payment .radio-wrapper .label-parent input:checked ~ i {
  border: 1px solid #5f9be7;
}
.radio-wrapper span {
  display: flex;
  height: 36px;
  line-height: 36px;
  font-size: 13px;
  font-weight: normal;
  width: 100%;
  position: relative;
  align-items: center;
}
.page-payment__bank-checker img,.banks-row img {
  height: 30px;
  margin-right: auto;
}
.checkbox {
  padding-right: 20px;
  display: inline-block;
}

.checkbox-toggle input {
  top: -25px;
  position: absolute;
}
.checkbox-toggle {
  overflow: hidden;
  position: relative;
  cursor: pointer;
}
.checkbox input[type="checkbox"], .checkbox input[type="radio"] {
  opacity: 0;
  z-index: 1;
  cursor: pointer;
}
.checkbox label {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  padding-right: 5px !important;
  font-size: 12px;
  a{
    color: $color-info !important;
  }
}

.checkbox label:before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 17px;
  height: 17px;
  right: 0;
  margin-right: -18px;
  border: 1px solid #ccc;
  border-radius: 3px;
  background-color: #fff;
  -webkit-transition: border .15s ease-in-out color .15s ease-in-out;
  -moz-transition: border .15s ease-in-out color .15s ease-in-out;
  -ms-transition: border .15s ease-in-out color .15s ease-in-out;
  -o-transition: border .15s ease-in-out color .15s ease-in-out;
  transition: border .15s ease-in-out color .15s ease-in-out;
}
.checkbox label:after {
  display: inline-block;
  position: absolute;
  width: 17px;
  height: 17px;
  right: 1px;
  top: 0;
  margin-right: -19px;
  // padding-right: 3px;
  // padding-top: 2px;
  font-size: 17px;
  line-height: 17px;
  color: #555;
  text-align: center;
}

.checkbox-success input[type="checkbox"]:checked+label:before,
input[type="radio"]:checked+.radio-face{
  background-color: $color-warning;
  // border-color: $color-border-2;
  border: none;
}
input[type="radio"]:checked+.radio-face:after{
  top: 6px;
  right: 6px;
}
input[type="checkbox"].styled:checked+label:after, input[type="radio"].styled:checked+label:after {
  font-family: 'chilivery';
  content: "s";
  font-size: 12px;
  font-weight: bold;
  // top: -2px;
}

.checkbox-success input[type="checkbox"]:checked+label:after, .checkbox-success input[type="radio"]:checked+label:after {
  color: #fff;
}

.chili-login-form{
  .btn{
    margin-right: auto;
  }
}
.chilivery{
  &-icon{
    position: absolute;
    right: 0;
    bottom: 0;
    font-size: 20px;
  }
}