body{
  font-family: $font-family-iransans;
  padding: 0px;
  margin: 0px;
}
ul {
  padding: 0px;
  margin: 0px;
}
#app{
  padding-bottom: 60px;
}
.main-container{
  height: calc(100vh - 60px);
  overflow-y: auto;
}
.fullLine {
  width: 100%;
  height: 1px;
  background-color: $color-disable;
}
a{
  &:active,&:hover{
    text-decoration: none;
  }
}
.pull-left {
  float: left;
}
.pull-right {
  float: right;
}
