.modal{
  display: flex !important;
  &.fade .modal-dialog {
    transform: translate3d(0, 100vh, 0);
  }
  
  &.show .modal-dialog {
    transform: translate3d(0, 0, 0);
  }
  
}

.chili-modal{
  margin-top: auto;
  margin-bottom: unset;
  width:100%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  &:after{
    content: "";
    display: block;
    position: absolute;
    width: 82%;
    height: 20px;
    background-color: #fff;
    opacity: 0.3;
    top: -20px;
    left: 0;
    right: 0;
    margin: 0 auto;
  }
  &:before{
    content: "";
    display: block;
    position: absolute;
    width: 90%;
    height: 10px;
    background-color: #fff;
    opacity: 0.4;
    top: -10px;
    left: 0;
    right: 0;
    margin: 0 auto;
  }
  .modal-body{
    height: 80vh;
  }
  .modal-content{
    border-radius: 0;
    border: 0;
  }
  .modal-header{
    border-bottom: 0;
    .icon{
      line-height: 0;
      position: absolute;
      top: 16px;
    }
    &_right{
      text-align: right;
      .icon{
        left: 0;
      }
    }
    &_left{
      text-align: left;
      .icon{
        right: 0;
      }
    }
    &_center{
      text-align: center;
      .icon{
        right: 0;
      }
    }
  }
  .modal-title{
    width: 100%;
    position: relative;
  }
  &_alert{
    margin: auto;
    .modal-body{
      height: auto;
    }
  }
}