@import '../../style/sass/_variable.scss';
.chili-footer{
  border-top: 1px solid $grey-12;
  height: 60px;
  position: fixed;
  bottom: 0;
  top: auto;
  left: 0;
  right: 0;
  background: $grey-11;
  text-align: center;
  align-items: center;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  max-width: 567px;
  .col{
    padding: 0;
  }
  &__list{
    line-height: 1;
    font-size: 12px;
    font-weight: bold;
    &-item{
      color: $color-text-icon;
      &:hover{
        color: $color-text-icon ;
      }
      &.active{
        color:$color-danger;
      }
    }
    span{
      display: block;
    }
    &-icon{
      font-size: 20px;
      line-height: 0;
      padding-bottom: 5px;
    }
  }
  &__badge{
    width: 18px;
    height: 18px;
    position: absolute;
    top:-5px;
    right: 0;
    margin: 0 auto;
    display: flex !important;
    justify-content: center;
    align-items: center;
    padding-top: 3px;
    font-size: 12px;
    left: 30px;

    span{
      //height: 10px;
      padding: 1px 0 0 1px;
      font-size: 13px;
      display: inline-block;
    }

  }
  &__notification{
    z-index: 9999;
  }
}
